.header {
    &-container {
        position: absolute;
        z-index: 0;
        display: flex;

        width: 100%;
    }

    &-up {
        display: flex;
        justify-content: space-between;
    }

    &-down {
        width: 100%;
    }

    &-navbar {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}

.header-logo {
    font-family: 'Red Hat Display';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 95px;
    letter-spacing: 0em;
    text-align: left;
    color: $brown;

    &-full {
        display: none;
    }
}
.contact-us-link {
    font-family: Red Hat Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;

}
a{
    font-family: Red Hat Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $brown;
}
.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-logo-after-load{
    transform: translate(-446px,0);
    transition: all 2s ease-in-out;
}
.contact-us-afterload{
    transform: translate(480px,0);
    transition: all 2s ease-in-out;
}