.header {
    &-container {
        position: absolute;
        z-index: 0;
        display: flex;
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 100%;
    }

    &-up {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-down {
        width: 100%;
    }

    &-navbar {
        display: flex;
        justify-content: space-between;
        list-style: none;
        border-top: $brown 1px solid;
        padding: 0px;
    }
}

.header-logo{
    .cascade{
    font-family: 'Red Hat Display';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 95px;
    letter-spacing: 0em;
    text-align: left;
    color: $brown;
    display: flex;
    align-items: flex-end;
    }
    a:hover span{
        display: none;
    }
    a:hover:before{
        font-family: 'Red Hat Display';
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: $brown; 
        line-height: 47.5px; 
        display: flex;
        width: 57%;
        content: "Central Asia and South Caucuses Agricultural University Consortium for Development"
    }
    
}

.contact-us-link {
    font-family: Red Hat Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    a{
        padding-top: 23px;
    }

}

a {
    font-family: Red Hat Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $brown;
}
a:hover{
    color: $green;
    transition: 0.5s;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .header-logo-after-load {
//     transform: translate(-488px, 0);
//     transition: all 2s ease-in-out;
// }

// .contact-us-afterload {
//     transform: translate(480px, 0);
//     transition: all 2s ease-in-out;
// }

